---
import Slide from "../../layouts/Slide.astro";
---

<Slide>
  <main id="ConclusionSlide" class="slide-content">
    <div class="info">
      <h1>Conclusions</h1>
      <p>
        Throughout the whole process of making the story and the graphs we could
        learn a lot by just looking at the data. The story was there and could
        be found in many different ways. It was almost impossible to miss it.
        But we created a story that could help explain what is happening in the
        fabric easier than just looking at the raw data. We delivered a clear
        path on what is wrong with the fabric, like a puzzle we just joined the
        right pieces together to paint the picture as clean as it can be.
      </p>
    </div>
    <div class="graphics">
      <img src="/assets/drawing.svg" />
    </div>
  </main>
</Slide>
<script>
  sessionStorage.setItem("piechart-pause", "true");

  document
    .querySelector("button#piechart-play-btn")
    .addEventListener("click", () => {
      const isPlaying = sessionStorage.getItem("piechart-pause") === "true";
      sessionStorage.setItem("piechart-pause", isPlaying ? "false" : "true");
      document.querySelector("button#piechart-play-btn").innerText = isPlaying
        ? "Play"
        : "Pause";
      console.log("hello");
    });
</script>
