---
import Slide from "../../layouts/Slide.astro";
import PieGraph from "../../graphs/PieGraph.astro";
---
<style>
    #TimeScatter .toolbar select{
        width: 200px;
    }
</style>
<Slide>
    <main id="PieGraph" class="slide-content"> 
        <div class="toolbar">
            <button class="play-btn" id="piechart-play-btn">Pause</button>
       </div>
        <div class="info">
            <h1>Approval Rate</h1>
            <p>A brief description of this section</p>
            <div class="info-summary">
                <div class="entries" id="DowntimeSlide-info-entries">
                </div>
            </div>
        </div>
        <div class="graphics">
            <PieGraph width={500} height={500}/>
        </div>
    </main>
</Slide>
<script>
    sessionStorage.setItem("piechart-pause", "true");

    document.querySelector("button#piechart-play-btn").addEventListener("click", () => {
        const isPlaying = sessionStorage.getItem("piechart-pause") === "true";
        sessionStorage.setItem("piechart-pause", isPlaying ? "false" : "true");
        document.querySelector("button#piechart-play-btn").innerText = isPlaying ? "Play" : "Pause";
        console.log("hello")
    })
</script>
