---
import Slide from "../../layouts/Slide.astro";
import PieGraph from "../../graphs/PieGraph.astro";
---
<style>
    #TimeScatter .toolbar select{
        width: 200px;
    }
</style>
<Slide>
    <main id="PieGraph" class="slide-content"> 
        <div class="toolbar">
            <button class="play-btn" id="piechart-play-btn">Play</button>
       </div>
        <div class="info">
            <h1>Approval Rate</h1>
            <p>We needed to show the gap between the Accepted items v the Rejected items in comparison of the Total of all items built in the working station. Knowing this can lead us to know if our working stations are efficient enough or if they have to be replaced.</p>
            <div class="info-summary">
                <div class="entries" id="DowntimeSlide-info-entries">
                </div>
            </div>
        </div>
        <div class="graphics">
            <PieGraph width={500} height={500}/>
        </div>
    </main>
</Slide>
<script>
    sessionStorage.setItem("piechart-pause", "true");

    document.querySelector("button#piechart-play-btn").addEventListener("click", () => {
        const isPlaying = sessionStorage.getItem("piechart-pause") === "true";
        sessionStorage.setItem("piechart-pause", isPlaying ? "false" : "true");
        document.querySelector("button#piechart-play-btn").innerText = isPlaying ? "Play" : "Pause";
        console.log("hello")
    })
</script>
