<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Manufactory Simulator Dashboard</title>
        <script is:inline src="/d3.v7.min.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
    *{
		margin: 0;
        padding: 0;
		width: 100vw;
		height: 100vh;
        box-sizing: border-box;
        font-family: sans-serif;
	}
</style>
