---
const { width, height } = Astro.props;
---

<div id="downtime-graph" width={width} height={height}></div> 

<script>
    const SVG_DOM= document.querySelector("#downtime-graph");
    const { SVG_WIDTH, SVG_HEIGHT } = SVG_DOM.getBBox();

    const SVG = d3.select("#downtime-graph").attr("width", SVG_WIDTH).attr("height", SVG_HEIGHT);
    const margin = { left: 100, right: 10, top: 10, bottom: 100};
    
    (async ()=>{
        const data = await d3.csv("/data/results.csv")

        console.log(data);
    })()
</script>
